
OOP.sln
OOP.csproj
obj/project.nuget.cache
obj/project.assets.json
obj/OOP.csproj.nuget.g.targets
obj/OOP.csproj.nuget.g.props
obj/OOP.csproj.nuget.dgspec.json
obj/Debug/net8.0/refint/OOP.dll
obj/Debug/net8.0/ref/OOP.dll
obj/Debug/net8.0/OOP.pdb
obj/Debug/net8.0/OOP.GlobalUsings.g.cs
obj/Debug/net8.0/OOP.genruntimeconfig.cache
obj/Debug/net8.0/OOP.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/OOP.dll
obj/Debug/net8.0/OOP.csproj.FileListAbsolute.txt
obj/Debug/net8.0/OOP.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/OOP.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/OOP.assets.cache
obj/Debug/net8.0/OOP.AssemblyInfoInputs.cache
obj/Debug/net8.0/OOP.AssemblyInfo.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
bin/Debug/net8.0/OOP.runtimeconfig.json
bin/Debug/net8.0/OOP.pdb
bin/Debug/net8.0/OOP.exe
bin/Debug/net8.0/OOP.dll
bin/Debug/net8.0/OOP.deps.json
.vs/ProjectEvaluation/oop.strings.v8.bin
.vs/ProjectEvaluation/oop.projects.v8.bin
.vs/ProjectEvaluation/oop.metadata.v8.bin
.vs/OOP/v17/DocumentLayout.json
.vs/OOP/v17/.suo
.vs/OOP/v17/.futdcache.v2
.vs/OOP/FileContentIndex/9df46250-e248-4f57-8d09-efec9ce6634a.vsidx
.vs/OOP/FileContentIndex/97521ce5-9c4c-4ab5-a9ab-cef8702c2696.vsidx
.vs/OOP/DesignTimeBuild/.dtbcache.v2
